@model UrunListesiViewModel

@foreach(var urun in Model.Urunler)
{
    <div>
        <h3>@urun.UrunAdi</h3>
        @urun.UrunAciklamasi
        <h4>@urun.UrunFiyati.ToString("c")</h4>
    </div>
}

<div sayfa-model="@Model.sayfalamaBilgisi" sayfa-eylemi="Index"></div>
